In [1]:
# TODO : connect to db
# var needed from tt_content : bodytext, title
# all slugs : title + page urls
# qa : question, field, answer

In [2]:
from sqlalchemy import create_engine, text
import pandas as pd

sqlite_engine = create_engine("sqlite:///fastapi-base/sql.db")

In [3]:
typo3_engine = create_engine("mysql+pymysql://admintypo3:YfVTVLCORWenE@172.16.2.208:3306/typo3v11")

In [4]:
typo3v7_engine = create_engine("mysql+pymysql://admintypo3v7:fbEKVxPqaOvEq@172.16.2.207:3306/typo3v7test")

In [5]:
content_query = "SELECT * FROM tt_content"
page_query = "SELECT * FROM pages"
contentv11 = pd.read_sql_query(sql=text(content_query), con=typo3v7_engine.connect())
pagesv11 = pd.read_sql_query(sql=text(page_query), con=typo3v7_engine.connect())

In [6]:
contentv11['bodytext']

0
1
2        <span style="font-size: 10pt; font-family: Ari...
3
4        <table><thead><tr><td>Filière</td><td>Grade</t...
                               ...
44803                                                 None
44804                                                 None
44805                                                 None
44806                                                 None
44807                                                 None
Name: bodytext, Length: 44808, dtype: object

In [7]:
pagesv11['title']

0                                                 Accueil
1                                   Marchés - Didacticiel
2                                               Glossaire
3                                                 Etape 6
4                                                 Etape 5
                              ...
5326             Concours - Infirmier·e en soins généraux
5327              Passe sanitaire et obligation vaccinale
5328    Arrêtés membres des jurys des examens professi...
5329       Concours - Puériculteur·rice de classe normale
5330                                  CDG-info année 2022
Name: title, Length: 5331, dtype: object

In [8]:
titles = ['uid','title']
tmpPages = pagesv11.copy()
tmpPages[titles]

       uid                                              title
0        1                                            Accueil
1     1343                              Marchés - Didacticiel
2     1344                                          Glossaire
3     1345                                            Etape 6
4     1346                                            Etape 5
...    ...                                                ...
5326  6411           Concours - Infirmier·e en soins généraux
5327  6410            Passe sanitaire et obligation vaccinale
5328  6408  Arrêtés membres des jurys des examens professi...
5329  6412     Concours - Puériculteur·rice de classe normale
5330  6416                                CDG-info année 2022

[5331 rows x 2 columns]

In [9]:
from bs4 import BeautifulSoup

body = ['uid', 'bodytext']
bodytext = contentv11[body]
tmptexts = bodytext.dropna()
tmptexts = tmptexts.reset_index(drop=True)
tmptexts[tmptexts['bodytext'] != '']
tmptexts['rawtext'] = ''

for i in range(0, len(tmptexts)):
    raw = BeautifulSoup(tmptexts['bodytext'][i], 'html')
    tmptexts['rawtext'].iloc[i] = raw.get_text()

/tmp/ipykernel_616113/1784024283.py:12: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  tmptexts['rawtext'].iloc[i] = raw.get_text()
/tmp/ipykernel_616113/1784024283.py:11: MarkupResemblesLocatorWarning: The input looks more like a filename than markup. You may want to open this file and pass the filehandle into Beautiful Soup.
  raw = BeautifulSoup(tmptexts['bodytext'][i], 'html')

In [10]:
ai_df = pd.DataFrame()
tmptexts
ai_df['bodytext'] = tmptexts['rawtext']

In [11]:
import numpy as np
ai_df.isnull().sum()
ai_df = ai_df.replace('', np.nan)
ai_df = ai_df.replace(' ', np.nan)
ai_df = ai_df.dropna()
ai_df

                                                bodytext
2      L’autorité territoriale peut, pour former son ...
4      FilièreGradeCatégorieMédico-socialeAuxiliaire ...
6       Une commission administrative paritaire est c...
7      >>> Accès au calendrier <<<\nCe calendrier est...
8       Lorsque vous souhaitez nommer un agent sur un...
...                                                  ...
24654                                                 \n
24655         jvfkdjfmljsqdmlkfjqlmskdjlmkjqlsmkjdlkfqsd
24656  Suite à la mise en place du rapport social uni...
24657                                                 \n
24659                                             \n\n\n

[17920 rows x 1 columns]

In [12]:
tmptexts['rawtext'] = tmptexts.rawtext.str.replace('\r?\n', ' ')

/tmp/ipykernel_616113/4033050290.py:1: FutureWarning: The default value of regex will change from True to False in a future version.
  tmptexts['rawtext'] = tmptexts.rawtext.str.replace('\r?\n', ' ')

In [13]:
tmptexts

,uid,bodytext,rawtext
0,10,,
1,342,,
2,287,"<span style=""font-size: 10pt; font-family: Ari...","L’autorité territoriale peut, pour former son ..."
3,337,,
4,3217,<table><thead><tr><td>Filière</td><td>Grade</t...,FilièreGradeCatégorieMédico-socialeAuxiliaire ...
...,...,...,...
24660,52005,"<div align=""center""><a href=""http://cdg59-test...",
24661,52331,"<div align=""center""><a href=""http://cdg59-test...",
24662,52221,</br>,
24663,52217,</br>,
24664,52218,</br>,