In [1]:
# TODO : connect to db
# var needed from tt_content : bodytext, title
# all slugs : title + page urls
# qa : question, field, answer

In [2]:
from sqlalchemy import create_engine, text
import pandas as pd

sqlite_engine = create_engine("sqlite:///fastapi-base/sql.db")

In [3]:
typo3_engine = create_engine("mysql+pymysql://admintypo3:YfVTVLCORWenE@172.16.2.208:3306/typo3v11")

In [4]:
typo3v7_engine = create_engine("mysql+pymysql://admintypo3v7:fbEKVxPqaOvEq@172.16.2.207:3306/typo3v7test")

In [5]:
content_query = "SELECT * FROM tt_content"
page_query = "SELECT * FROM pages"
contentv11 = pd.read_sql_query(sql=text(content_query), con=typo3_engine.connect())
pagesv11 = pd.read_sql_query(sql=text(page_query), con=typo3_engine.connect())

In [6]:
contentv11['bodytext']

0        <p>LIST   datetime   desc    7                ...
1        <p>LIST   datetime   desc        -1           ...
2                                                  <p></p>
3                                                  <p></p>
4                                                  <p></p>
                               ...
44702    <h2>Pourquoi l'utiliser?</h2>\r\n<p>On sait de...
44703    <h2>Pourquoi l'utiliser?</h2>\r\n<p>On sait de...
44704    <h2>Pourquoi l'utiliser?</h2>\r\n<p>On sait de...
44705                                                 None
44706                                                 None
Name: bodytext, Length: 44707, dtype: object

In [7]:
pagesv11['title']

0                           Accueil
1       Concours, Emploi, Carrières
2        Services aux collectivités
3         Centre de gestion du Nord
4                     Plans d'accès
                   ...
5262                [Default Title]
5263               [Default Title]2
5264                           Test
5265                          Test2
5266                          test3
Name: title, Length: 5267, dtype: object

In [8]:
titles = ['uid','title']
tmpPages = pagesv11.copy()
tmpPages[titles]

       uid                        title
0        1                      Accueil
1        2  Concours, Emploi, Carrières
2        3   Services aux collectivités
3        4    Centre de gestion du Nord
4        5                Plans d'accès
...    ...                          ...
5262  6419              [Default Title]
5263  6420             [Default Title]2
5264  6421                         Test
5265  6422                        Test2
5266  6423                        test3

[5267 rows x 2 columns]

In [9]:
from bs4 import BeautifulSoup

body = ['uid']
bodytext = contentv11[body]
tmptexts = bodytext.dropna()
tmptexts = tmptexts.reset_index(drop=True)
# tmptexts[tmptexts['bodytext'] != '']
# tmptexts['rawtext'] = ''

# for i in range(0, len(tmptexts)):
#     raw = BeautifulSoup(tmptexts['bodytext'][i], 'html')
#     tmptexts['rawtext'].iloc[i] = raw.get_text()

In [10]:
ai_df = pd.DataFrame()
tmptexts
# ai_df['bodytext'] = tmptexts['rawtext']

         uid
0         10
1         21
2         27
3         33
4         36
...      ...
44702  52644
44703  52645
44704  52646
44705  52647
44706  52648

[44707 rows x 1 columns]

In [11]:
# import numpy as np
# ai_df.isnull().sum()
# ai_df = ai_df.replace('', np.nan)
# ai_df = ai_df.replace(' ', np.nan)
# ai_df = ai_df.dropna()
# ai_df

In [12]:
# tmptexts['rawtext'] = tmptexts.rawtext.str.replace('\r?\n', ' ')

In [13]:
tmptexts
# page title by uid

         uid
0         10
1         21
2         27
3         33
4         36
...      ...
44702  52644
44703  52645
44704  52646
44705  52647
44706  52648

[44707 rows x 1 columns]

In [14]:
contentv11

,uid,rowDescription,pid,tstamp,crdate,cruser_id,deleted,hidden,starttime,endtime,...,table_class,table_caption,table_delimiter,table_enclosure,table_header_position,table_tfoot,categories,selected_categories,tx_impexp_origuid,tx_container_parent
0,10,None,37,1182139364,0,0,1,0,0,0,...,,None,0,0,0,0,0,None,0,0
1,21,None,51,1179765022,0,0,1,0,0,0,...,,None,0,0,0,0,0,None,0,0
2,27,None,800,1227860627,0,0,1,0,0,0,...,,None,0,0,0,0,0,None,0,0
3,33,None,523,1227860669,0,0,1,0,0,0,...,,None,0,0,0,0,0,None,0,0
4,36,None,539,1178288684,0,0,1,0,0,0,...,,None,0,0,0,0,0,None,0,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
44702,52644,,1564,1678787509,1678787481,143,0,0,0,0,...,,None,124,0,0,0,0,None,0,52643
44703,52645,,1564,1678787518,1678787518,143,0,0,0,0,...,,None,124,0,0,0,0,0,0,52643
44704,52646,,1564,1678787521,1678787521,143,0,0,0,0,...,,None,124,0,0,0,0,0,0,52643
44705,52647,None,6423,1678955914,1678955801,138,0,0,0,0,...,,None,124,0,0,0,0,None,0,0
44706,52648,None,6423,1678955806,1678955806,138,0,0,0,0,...,,None,124,0,0,0,0,None,0,0

In [15]:
title_df = pagesv11[['uid','title', 'keywords', 'hidden']]

In [16]:
test_df = pd.merge(title_df, tmptexts, on='uid', how='inner')
final_df = test_df[test_df['hidden'] != 1]
final_df

       uid                           title keywords  hidden
1       36  Consulter la liste des marchés     None       0
4      101                          Emploi     None       0
5      105             Concours et examens     None       0
6      110                 Préinscriptions     None       0
7      111                       Résultats     None       0
...    ...                             ...      ...     ...
4404  6417                    Test-chatbot     None       0
4406  6419                 [Default Title]     None       0
4408  6421                            Test     None       0
4409  6422                           Test2     None       0
4410  6423                           test3     None       0

[2472 rows x 4 columns]

In [17]:
final_df['link'] = ''
final_df['link'] = '<a href="t3://page?uid=' + final_df['uid'].apply(str) + '">' + final_df['title'] + '</a>'
final_df

/tmp/ipykernel_658694/880836559.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  final_df['link'] = ''
/tmp/ipykernel_658694/880836559.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  final_df['link'] = '<a href="t3://page?uid=' + final_df['uid'].apply(str) + '">' + final_df['title'] + '</a>'

,uid,title,keywords,hidden,link
1,36,Consulter la liste des marchés,None,0,"<a href=""t3://page?uid=36"">Consulter la liste ..."
4,101,Emploi,None,0,"<a href=""t3://page?uid=101"">Emploi</a>"
5,105,Concours et examens,None,0,"<a href=""t3://page?uid=105"">Concours et examen..."
6,110,Préinscriptions,None,0,"<a href=""t3://page?uid=110"">Préinscriptions</a>"
7,111,Résultats,None,0,"<a href=""t3://page?uid=111"">Résultats</a>"
...,...,...,...,...,...
4404,6417,Test-chatbot,None,0,"<a href=""t3://page?uid=6417"">Test-chatbot</a>"
4406,6419,[Default Title],None,0,"<a href=""t3://page?uid=6419"">[Default Title]</a>"
4408,6421,Test,None,0,"<a href=""t3://page?uid=6421"">Test</a>"
4409,6422,Test2,None,0,"<a href=""t3://page?uid=6422"">Test2</a>"
4410,6423,test3,None,0,"<a href=""t3://page?uid=6423"">test3</a>"

In [18]:
test_df['keywords'][test_df['uid'] == 6148]

4189    Covid-19, Post-covid, Nouvelle étape
Name: keywords, dtype: object

In [20]:
final_df = final_df[['uid', 'title', 'keywords', 'link']]

In [34]:
import numpy as np
final_df[final_df['keywords'].notnull()]
# final_df.isnull().sum()

,uid,title,keywords,link
376,1564,Accueil Cdg59,"Centre de gestion, Lille Nord 59, CDG59, conco...","<a href=""t3://page?uid=1564"">Accueil Cdg59</a>"
390,1586,Les missions,"missions, fonction publique territoriale, cdg5...","<a href=""t3://page?uid=1586"">Les missions</a>"
405,1602,Les métiers de la fonction publique territoriale,"emploi administratif, offres Lille, Nord, cdg5...","<a href=""t3://page?uid=1602"">Les métiers de la..."
573,1776,Historique,testetetstsetstsetetsetset,"<a href=""t3://page?uid=1776"">Historique</a>"
576,1779,Trouver un emploi dans la fonction publique te...,"emploi publique fonctionnaires, concours fonct...","<a href=""t3://page?uid=1779"">Trouver un emploi..."
...,...,...,...,...
4355,6355,CDG-info année 2022,Traitement minimum\r\nRelèvement du traitement...,"<a href=""t3://page?uid=6355"">CDG-info année 20..."
4356,6356,CDG-info année 2022,Traitement minimum\r\nRelèvement du traitement...,"<a href=""t3://page?uid=6356"">CDG-info année 20..."
4357,6357,CDG-info année 2022,Traitement minimum\r\nRelèvement du traitement...,"<a href=""t3://page?uid=6357"">CDG-info année 20..."
4392,6398,CDG-info année 2022,Traitement minimum\r\nRelèvement du traitement...,"<a href=""t3://page?uid=6398"">CDG-info année 20..."
4403,6416,CDG-info année 2022,Traitement minimum\r\nRelèvement du traitement...,"<a href=""t3://page?uid=6416"">CDG-info année 20..."

In [ ]:
pd.set_option('display.max_columns', None)
contentv11[contentv11['uid'] == 6020]

,uid,rowDescription,pid,tstamp,crdate,cruser_id,deleted,hidden,starttime,endtime,fe_group,sorting,editlock,sys_language_uid,l18n_parent,l10n_source,l10n_state,t3_origuid,l18n_diffsource,t3ver_oid,t3ver_wsid,t3ver_state,t3ver_stage,CType,header,header_position,bodytext,bullets_type,uploads_description,uploads_type,assets,image,imagewidth,imageorient,imagecols,imageborder,media,layout,frame_class,cols,space_before_class,space_after_class,records,pages,colPos,subheader,header_link,image_zoom,header_layout,list_type,sectionIndex,linkToTop,file_collections,filelink_size,filelink_sorting,filelink_sorting_direction,target,date,recursive,imageheight,pi_flexform,accessibility_title,accessibility_bypass,accessibility_bypass_text,category_field,table_class,table_caption,table_delimiter,table_enclosure,table_header_position,table_tfoot,categories,selected_categories,tx_impexp_origuid,tx_container_parent
4769,6020,None,2210,1236091253,0,0,0,0,0,0,,1400,0,0,0,0,None,5900,b'',0,0,0,0,textmedia,Nouvelle Bonification Indiciaire (N.B.I.),,<p></p>,0,0,0,0,0,0,17,1,0,0,0,default,0,,,None,None,0.0,,,0,0,,1,1,None,0,,,,0,0,0,,,0,,,,None,0,0,0,0,0,None,0,0

In [ ]:
pagesv11

,uid,pid,tstamp,crdate,cruser_id,deleted,hidden,starttime,endtime,fe_group,sorting,rowDescription,editlock,sys_language_uid,l10n_parent,l10n_source,l10n_state,t3_origuid,l10n_diffsource,t3ver_oid,t3ver_wsid,t3ver_state,t3ver_stage,perms_userid,perms_groupid,perms_user,perms_group,perms_everybody,title,slug,doktype,TSconfig,is_siteroot,php_tree_stop,url,shortcut,shortcut_mode,subtitle,layout,target,media,lastUpdated,keywords,cache_timeout,cache_tags,newUntil,description,no_search,SYS_LASTCHANGED,abstract,module,extendToSubpages,author,author_email,nav_title,nav_hide,content_from_pid,mount_pid,mount_pid_ol,l18n_cfg,fe_login_mode,backend_layout,backend_layout_next_level,tsconfig_includes,categories,tx_impexp_origuid,seo_title,no_index,no_follow,og_title,og_description,og_image,twitter_title,twitter_description,twitter_image,twitter_card,canonical_link,sitemap_priority,sitemap_changefreq,no_search_sub_entries,slug_locked
0,1,1562,1227860626,1176737747,25,1,1,0,0,0,1000000000,None,0,0,0,0,None,1,None,1,0,0,0,1,0,31,27,0,Accueil,None,4,##############################################...,1,0,,38,0,,0,,0,0,None,0,,0,None,0,1173690693,None,,0,,,,0,0,0,0,0,0,0,0,None,0,0,,0,0,,None,0,,None,0,summary,,0.5,,0,0
1,2,1,1227860629,1179500078,23,1,1,0,0,0,1000000000,None,0,0,0,0,None,2,None,2,0,0,0,1,0,31,27,0,"Concours, Emploi, Carrières",None,1,##############################################...,0,0,,0,0,,0,,0,0,None,0,,0,None,0,1221653118,None,,0,,,Concours Emploi Carrières,0,0,0,0,0,0,0,0,None,0,0,,0,0,,None,0,,None,0,summary,,0.5,,0,0
2,3,1,1227860670,1179672810,27,1,0,0,0,0,1000000000,None,0,0,0,0,None,3,None,3,0,0,0,1,0,31,27,0,Services aux collectivités,None,1,##############################################...,0,0,,0,0,,0,,0,0,None,0,,0,None,0,1221653118,None,,0,,,Services<br />aux<br />collectivités,0,0,0,0,0,0,0,0,None,0,0,,0,0,,None,0,,None,0,summary,,0.5,,0,0
3,4,1,1227860626,1179497097,23,1,1,0,0,0,1000000000,None,0,0,0,0,None,4,None,4,0,0,0,1,0,31,27,0,Centre de gestion du Nord,None,1,##############################################...,0,0,,0,0,,0,,0,0,None,0,,0,None,0,1221653118,None,,0,,,CDG,0,0,0,0,0,0,0,0,None,0,0,,0,0,,None,0,,None,0,summary,,0.5,,0,0
4,5,4,1227860629,1178721661,23,1,0,0,0,0,1000000000,None,0,0,0,0,None,5,None,5,0,0,0,1,0,31,27,0,Plans d'accès,None,1,None,0,0,,0,0,,0,,0,0,None,0,,0,None,0,1221653119,None,,0,,,Plans d'accès,0,0,0,0,0,0,0,0,None,0,0,,0,0,,None,0,,None,0,summary,,0.5,,0,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
5262,6419,1564,1678717352,1678716164,143,1,0,0,0,0,64,None,0,0,0,0,None,0,"b'{""hidden"":""""}'",0,0,0,0,143,0,31,27,0,[Default Title],/default-title,1,None,0,0,,0,0,,0,,0,0,None,0,,0,None,0,1678716537,None,,0,,,,0,0,0,0,0,0,,,None,0,0,,0,0,,None,0,,None,0,summary,,0.5,,0,0
5263,6420,1564,1678717349,1678717243,143,1,1,0,0,0,32,None,0,0,0,0,None,0,"b'{""slug"":""""}'",0,0,0,0,143,0,31,27,0,[Default Title]2,/,1,None,0,0,,0,0,,0,,0,0,None,0,,0,None,0,0,None,,0,,,,0,0,0,0,0,0,,,None,0,0,,0,0,,None,0,,None,0,summary,,0.5,,0,0
5264,6421,0,1678783425,1678717467,143,0,0,0,0,,32,None,0,0,0,0,None,0,"b'{""doktype"":"""",""title"":"""",""slug"":"""",""slug_loc...",0,0,0,0,143,0,31,27,0,Test,/,1,None,1,0,,0,0,,0,,0,0,None,0,,0,None,0,1678956000,None,,0,,,,0,0,0,0,0,0,,,None,0,0,,0,0,,None,0,,None,0,summary,,0.5,,0,0
5265,6422,6421,1678782864,1678782815,143,0,0,0,0,0,256,None,0,0,0,0,None,0,"b'{""hidden"":""""}'",0,0,0,0,143,0,31,27,0,Test2,/test2,1,None,0,0,,0,0,,0,,0,0,None,0,,0,None,0,1678782864,None,,0,,,,0,0,0,0,0,0,,,None,0,0,,0,0,,None,0,,None,0,summary,,0.5,,0,0
5266,6423,6421,1678955691,1678955686,138,0,0,0,0,0,512,None,0,0,0,0,None,0,"b'{""hidden"":""""}'",0,0,0,0,138,0,31,27,0,test3,/test3,1,None,0,0,,0,0,,0,,0,0,None,0,,0,None,0,0,None,,0,,,,0,0,0,0,0,0,,,None,0,0,,0,0,,None,0,,None,0,summary,,0.5,,0,0

In [ ]:
test_df['title'][test_df['uid'] == 5938]

4016    Covid-19 : la prévention
Name: title, dtype: object

In [ ]:
test_df

       uid                           title bodytext   pid rawtext
0       33                 Marchés Publics  <p></p>   523
1       36  Consulter la liste des marchés  <p></p>   539
2       37            Marchés - Actualités  <p></p>   533
3       82              Offres spécifiques  <p></p>  1252
4      101                          Emploi  <p></p>   522
...    ...                             ...      ...   ...     ...
4406  6419                 [Default Title]  <p></p>    -1
4407  6420                [Default Title]2  <p></p>    -1
4408  6421                            Test  <p></p>    -1
4409  6422                           Test2  <p></p>    -1
4410  6423                           test3  <p></p>  2200

[4411 rows x 5 columns]

In [ ]:
# link = <a href="t3://page?uid=6014">Title</a>

# Title / link / classs

In [ ]:
test_df.isnull().sum()

uid         0
title       0
bodytext    0
pid         0
rawtext     0
dtype: int64

In [ ]:
test_df['link'] = ''
test_df['link'] = '<a href="t3://page?uid=' + test_df['uid'].apply(str) + '">' + test_df['title'] + '</a>'

In [ ]:
# pd.set_option('display.max_rows', None)
test_df

,uid,title,bodytext,pid,rawtext,link
0,33,Marchés Publics,<p></p>,523,,"<a href=""t3://page?uid=33"">Marchés Publics</a>"
1,36,Consulter la liste des marchés,<p></p>,539,,"<a href=""t3://page?uid=36"">Consulter la liste ..."
2,37,Marchés - Actualités,<p></p>,533,,"<a href=""t3://page?uid=37"">Marchés - Actualité..."
3,82,Offres spécifiques,<p></p>,1252,,"<a href=""t3://page?uid=82"">Offres spécifiques</a>"
4,101,Emploi,<p></p>,522,,"<a href=""t3://page?uid=101"">Emploi</a>"
...,...,...,...,...,...,...
4406,6419,[Default Title],<p></p>,-1,,"<a href=""t3://page?uid=6419"">[Default Title]</a>"
4407,6420,[Default Title]2,<p></p>,-1,,"<a href=""t3://page?uid=6420"">[Default Title]2</a>"
4408,6421,Test,<p></p>,-1,,"<a href=""t3://page?uid=6421"">Test</a>"
4409,6422,Test2,<p></p>,-1,,"<a href=""t3://page?uid=6422"">Test2</a>"
4410,6423,test3,<p></p>,2200,,"<a href=""t3://page?uid=6423"">test3</a>"

In [ ]:
pagesv11

,uid,pid,tstamp,crdate,cruser_id,deleted,hidden,starttime,endtime,fe_group,sorting,rowDescription,editlock,sys_language_uid,l10n_parent,l10n_source,l10n_state,t3_origuid,l10n_diffsource,t3ver_oid,t3ver_wsid,t3ver_state,t3ver_stage,perms_userid,perms_groupid,perms_user,perms_group,perms_everybody,title,slug,doktype,TSconfig,is_siteroot,php_tree_stop,url,shortcut,shortcut_mode,subtitle,layout,target,media,lastUpdated,keywords,cache_timeout,cache_tags,newUntil,description,no_search,SYS_LASTCHANGED,abstract,module,extendToSubpages,author,author_email,nav_title,nav_hide,content_from_pid,mount_pid,mount_pid_ol,l18n_cfg,fe_login_mode,backend_layout,backend_layout_next_level,tsconfig_includes,categories,tx_impexp_origuid,seo_title,no_index,no_follow,og_title,og_description,og_image,twitter_title,twitter_description,twitter_image,twitter_card,canonical_link,sitemap_priority,sitemap_changefreq,no_search_sub_entries,slug_locked
0,1,1562,1227860626,1176737747,25,1,1,0,0,0,1000000000,None,0,0,0,0,None,1,None,1,0,0,0,1,0,31,27,0,Accueil,None,4,##############################################...,1,0,,38,0,,0,,0,0,None,0,,0,None,0,1173690693,None,,0,,,,0,0,0,0,0,0,0,0,None,0,0,,0,0,,None,0,,None,0,summary,,0.5,,0,0
1,2,1,1227860629,1179500078,23,1,1,0,0,0,1000000000,None,0,0,0,0,None,2,None,2,0,0,0,1,0,31,27,0,"Concours, Emploi, Carrières",None,1,##############################################...,0,0,,0,0,,0,,0,0,None,0,,0,None,0,1221653118,None,,0,,,Concours Emploi Carrières,0,0,0,0,0,0,0,0,None,0,0,,0,0,,None,0,,None,0,summary,,0.5,,0,0
2,3,1,1227860670,1179672810,27,1,0,0,0,0,1000000000,None,0,0,0,0,None,3,None,3,0,0,0,1,0,31,27,0,Services aux collectivités,None,1,##############################################...,0,0,,0,0,,0,,0,0,None,0,,0,None,0,1221653118,None,,0,,,Services<br />aux<br />collectivités,0,0,0,0,0,0,0,0,None,0,0,,0,0,,None,0,,None,0,summary,,0.5,,0,0
3,4,1,1227860626,1179497097,23,1,1,0,0,0,1000000000,None,0,0,0,0,None,4,None,4,0,0,0,1,0,31,27,0,Centre de gestion du Nord,None,1,##############################################...,0,0,,0,0,,0,,0,0,None,0,,0,None,0,1221653118,None,,0,,,CDG,0,0,0,0,0,0,0,0,None,0,0,,0,0,,None,0,,None,0,summary,,0.5,,0,0
4,5,4,1227860629,1178721661,23,1,0,0,0,0,1000000000,None,0,0,0,0,None,5,None,5,0,0,0,1,0,31,27,0,Plans d'accès,None,1,None,0,0,,0,0,,0,,0,0,None,0,,0,None,0,1221653119,None,,0,,,Plans d'accès,0,0,0,0,0,0,0,0,None,0,0,,0,0,,None,0,,None,0,summary,,0.5,,0,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
5262,6419,1564,1678717352,1678716164,143,1,0,0,0,0,64,None,0,0,0,0,None,0,"b'{""hidden"":""""}'",0,0,0,0,143,0,31,27,0,[Default Title],/default-title,1,None,0,0,,0,0,,0,,0,0,None,0,,0,None,0,1678716537,None,,0,,,,0,0,0,0,0,0,,,None,0,0,,0,0,,None,0,,None,0,summary,,0.5,,0,0
5263,6420,1564,1678717349,1678717243,143,1,1,0,0,0,32,None,0,0,0,0,None,0,"b'{""slug"":""""}'",0,0,0,0,143,0,31,27,0,[Default Title]2,/,1,None,0,0,,0,0,,0,,0,0,None,0,,0,None,0,0,None,,0,,,,0,0,0,0,0,0,,,None,0,0,,0,0,,None,0,,None,0,summary,,0.5,,0,0
5264,6421,0,1678783425,1678717467,143,0,0,0,0,,32,None,0,0,0,0,None,0,"b'{""doktype"":"""",""title"":"""",""slug"":"""",""slug_loc...",0,0,0,0,143,0,31,27,0,Test,/,1,None,1,0,,0,0,,0,,0,0,None,0,,0,None,0,1678956000,None,,0,,,,0,0,0,0,0,0,,,None,0,0,,0,0,,None,0,,None,0,summary,,0.5,,0,0
5265,6422,6421,1678782864,1678782815,143,0,0,0,0,0,256,None,0,0,0,0,None,0,"b'{""hidden"":""""}'",0,0,0,0,143,0,31,27,0,Test2,/test2,1,None,0,0,,0,0,,0,,0,0,None,0,,0,None,0,1678782864,None,,0,,,,0,0,0,0,0,0,,,None,0,0,,0,0,,None,0,,None,0,summary,,0.5,,0,0
5266,6423,6421,1678955691,1678955686,138,0,0,0,0,0,512,None,0,0,0,0,None,0,"b'{""hidden"":""""}'",0,0,0,0,138,0,31,27,0,test3,/test3,1,None,0,0,,0,0,,0,,0,0,None,0,,0,None,0,0,None,,0,,,,0,0,0,0,0,0,,,None,0,0,,0,0,,None,0,,None,0,summary,,0.5,,0,0

In [ ]:
pagesv11['keywords'][pagesv11['uid'] == 6148]

5038    Covid-19, Post-covid, Nouvelle étape
Name: keywords, dtype: object

In [ ]:
pagesv11['hidden'][pagesv11['uid'] == 6152]
# get rid of hidden pages

5041    1
Name: hidden, dtype: int64